<div class="containter">
  <table class="striped bordered highlight responsive-table">
          <thead>
            <tr>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th colspan="2" class="center">Carrera</th>
                <th>Opciones</th>
            </tr>
          </thead>

          <tbody>
            <% _.each(alumnos, function(alumno){ %>
            <tr>
              <td><%= alumno.matricula %></td>
              <td><%= alumno.nombre %></td>
              <td><%= alumno.apellido_paterno %> <%= alumno.apellido_materno%></td>
              <td><%= alumno.edad %></td>
              <td><%= alumno.cursa %></td>
              <td>Update</td>
              <td>Delete</td>
            </tr>
            <% }) %>
          </tbody>
    </table>
</div>
