<div class="containter">
  <table class="striped bordered responsive-table">
          <thead>
            <tr>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Carrera</th>
                <th colspan="2" class="center">Opciones</th>
            </tr>
          </thead>

          <tbody>
            <% _.each(alumnos, function(alumno){ %>
            <tr>
              <td><%= alumno.matricula %></td>
              <td><%= alumno.nombre %></td>
              <td><%= alumno.apellido_paterno %> <%= alumno.apellido_materno%></td>
              <td><%= alumno.edad %></td>
              <td><%= alumno.cursa %></td>
              <td>
                <div class="input-field col s12">
                  <div class="input-field col s6">
                    <form class="col s12" action="/alumno/edit/?matricula=<%= alumno.matricula%>" method="post">
                      <button class="btn waves-effect waves-light" type="submit" name="action">
                        Editar
                        <i class="material-icons right">edit</i>
                      </button>
                    </form>
                  </div>
                  <br>
                </div>
              </td>
              <td>
                <div class="input-field col s12">
                  <div class="input-field col s6">
                    <form class="col s12" action="/alumno/delete/?matricula=<%= alumno.matricula%>" method="post">
                      <button class="btn waves-effect waves-light" type="submit" name="action">
                        Delete
                        <i class="material-icons right">delete</i>
                      </button>
                    </form>
                  </div>
                  <br>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
    </table>
    <div class="input-field col s6">
      <a href="/alumno/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Nuevo Alumno <i class="material-icons right">account_box</i></a>
    </div>
</div>
