<h1>Show Student</h1>

<ul class="collection">
    <li class="collection-item"><%= alumno.nombre %></li>
    <li class="collection-item"><%= alumno.apellido_paterno %></li>
    <li class="collection-item"><%= alumno.apellido_materno %></li>
    <li class="collection-item"><%= alumno.edad %></li>
    <li class="collection-item"><%= alumno.cursa %></li>
</ul>

<div class="input-field col s12">
  <div class="input-field col s6">
    <form class="col s12" action="/alumno/edit/?matricula=<%= alumno.matricula%>" method="post">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Editar
        <i class="material-icons right">edit</i>
      </button>
    </form>
  </div>
  <br>
</div>
