<h1>Show Student</h1>

<ul class="collection">
    <li class="collection-item active"><%= alumno.nombre %></li>
    <li class="collection-item"><%= alumno.apellido_paterno %></li>
    <li class="collection-item"><%= alumno.apellido_materno %></li>
    <li class="collection-item"><%= alumno.edad %></li>
    <li class="collection-item"><%= alumno.cursa %></li>
</ul>
